# PrDS_2024__TelcoCustomerChurn
Telco Customer Churn. Focused customer retention programs

## Libraries

In [188]:
from typing import Any

import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 30)
pd.set_option("display.width", 1440)

## Data Extraction

In [189]:
dtype: dict[str, Any] = {
    "customerID": str,
    "gender": "category",
    "SeniorCitizen": bool,
    "Partner": "category",
    "Dependents": "category",
    "tenure": int,
    "PhoneService": "category",
    "MultipleLines": "category",
    "InternetService": "category",
    "OnlineSecurity": "category",
    "OnlineBackup": "category",
    "DeviceProtection": "category",
    "TechSupport": "category",
    "StreamingTV": "category",
    "StreamingMovies": "category",
    "Contract": "category",
    "PaperlessBilling": "category",
    "PaymentMethod": "category",
    "MonthlyCharges": float,
    "Churn": "category",
}
raw_dataframe: pd.DataFrame = pd.read_csv(
    "../data/raw/WA_Fn-UseC_-Telco-Customer-Churn.csv", dtype=dtype
)

## Numerical Data Analysis

In [190]:
raw_dataframe

      customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges Churn
0     7590-VHVEG  Female          False     Yes         No       1           No  No phone service             DSL             No          Yes               No          No          No              No  Month-to-month              Yes           Electronic check           29.85        29.85    No
1     5575-GNVDE    Male          False      No         No      34          Yes                No             DSL            Yes           No              Yes          No          No              No        One year               No               Mailed check           56.95       1889.5    No
2     3668-QPYBK    Male          False      No         No       2          Yes                No             DSL            Yes          Yes               No          No          No              No  Month-to-month              Yes               Mailed check           53.85       108.15   Yes
3     7795-CFOCW    Male          False      No         No      45           No  No phone service             DSL            Yes           No              Yes         Yes          No              No        One year               No  Bank transfer (automatic)           42.30      1840.75    No
4     9237-HQITU  Female          False      No         No       2          Yes                No     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes           Electronic check           70.70       151.65   Yes
...          ...     ...            ...     ...        ...     ...          ...               ...             ...            ...          ...              ...         ...         ...             ...             ...              ...                        ...             ...          ...   ...
7038  6840-RESVB    Male          False     Yes        Yes      24          Yes               Yes             DSL            Yes           No              Yes         Yes         Yes             Yes        One year              Yes               Mailed check           84.80       1990.5    No
7039  2234-XADUH  Female          False     Yes        Yes      72          Yes               Yes     Fiber optic             No          Yes              Yes          No         Yes             Yes        One year              Yes    Credit card (automatic)          103.20       7362.9    No
7040  4801-JZAZL  Female          False     Yes        Yes      11           No  No phone service             DSL            Yes           No               No          No          No              No  Month-to-month              Yes           Electronic check           29.60       346.45    No
7041  8361-LTMKD    Male           True     Yes         No       4          Yes               Yes     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes               Mailed check           74.40        306.6   Yes
7042  3186-AJIEK    Male          False      No         No      66          Yes                No     Fiber optic            Yes           No              Yes         Yes         Yes             Yes        Two year              Yes  Bank transfer (automatic)          105.65       6844.5    No

[7043 rows x 21 columns]

In [191]:
print(raw_dataframe.shape)

(7043, 21)

In [192]:
raw_dataframe.dtypes

customerID            object
gender              category
SeniorCitizen           bool
Partner             category
Dependents          category
tenure                 int32
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges          object
Churn               category
dtype: object

In [193]:
raw_dataframe.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   bool
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   int32
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   category
dtypes: bool(1), category(16), float64(1), int32(1), object(2)
memory usage: 1.1 MB

In [194]:
raw_dataframe.memory_usage(deep=True)

Index                  132
customerID          471881
gender                7167
SeniorCitizen         7043
Partner               7270
Dependents            7162
tenure               28172
PhoneService          7162
MultipleLines         7343
InternetService       7230
OnlineSecurity        7346
OnlineBackup          7346
DeviceProtection      7346
TechSupport           7346
StreamingTV           7346
StreamingMovies       7346
Contract              7244
PaperlessBilling      7270
PaymentMethod         7519
MonthlyCharges       56344
TotalCharges        442846
Churn                 7162
dtype: int64

In [195]:
raw_dataframe.describe(include="all")

        customerID gender SeniorCitizen Partner Dependents       tenure PhoneService MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling     PaymentMethod  MonthlyCharges TotalCharges Churn
count         7043   7043          7043    7043       7043  7043.000000         7043          7043            7043           7043         7043             7043        7043        7043            7043            7043             7043              7043     7043.000000         7043  7043
unique        7043      2             2       2          2          NaN            2             3               3              3            3                3           3           3               3               3                2                 4             NaN         6531     2
top     7590-VHVEG   Male         False      No         No          NaN          Yes            No     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes  Electronic check             NaN                 No
freq             1   3555          5901    3641       4933          NaN         6361          3390            3096           3498         3088             3095        3473        2810            2785            3875             4171              2365             NaN           11  5174
mean           NaN    NaN           NaN     NaN        NaN    32.371149          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN       64.761692          NaN   NaN
std            NaN    NaN           NaN     NaN        NaN    24.559481          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN       30.090047          NaN   NaN
min            NaN    NaN           NaN     NaN        NaN     0.000000          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN       18.250000          NaN   NaN
25%            NaN    NaN           NaN     NaN        NaN     9.000000          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN       35.500000          NaN   NaN
50%            NaN    NaN           NaN     NaN        NaN    29.000000          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN       70.350000          NaN   NaN
75%            NaN    NaN           NaN     NaN        NaN    55.000000          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN       89.850000          NaN   NaN
max            NaN    NaN           NaN     NaN        NaN    72.000000          NaN           NaN             NaN            NaN          NaN              NaN         NaN         NaN             NaN             NaN              NaN               NaN      118.750000          NaN   NaN

## Missing values

In [196]:
missing_values: int = raw_dataframe.isnull().sum()
percent_missing: float = (missing_values / raw_dataframe.shape[0]) * 100
print(
    pd.DataFrame({"Missing Values": missing_values, "Percent": percent_missing})
)

                  Missing Values  Percent
customerID                     0      0.0
gender                         0      0.0
SeniorCitizen                  0      0.0
Partner                        0      0.0
Dependents                     0      0.0
tenure                         0      0.0
PhoneService                   0      0.0
MultipleLines                  0      0.0
InternetService                0      0.0
OnlineSecurity                 0      0.0
OnlineBackup                   0      0.0
DeviceProtection               0      0.0
TechSupport                    0      0.0
StreamingTV                    0      0.0
StreamingMovies                0      0.0
Contract                       0      0.0
PaperlessBilling               0      0.0
PaymentMethod                  0      0.0
MonthlyCharges                 0      0.0
TotalCharges                   0      0.0
Churn                          0      0.0

## Unique

In [197]:
for column in raw_dataframe.columns:
    print(raw_dataframe[column].value_counts())
    print(raw_dataframe[column].unique())
    print(raw_dataframe[column].value_counts(normalize=True) * 100)

customerID
7590-VHVEG    1
3791-LGQCY    1
6008-NAIXK    1
5956-YHHRX    1
5365-LLFYV    1
             ..
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
4304-TSPVK    1
3186-AJIEK    1
Name: count, Length: 7043, dtype: int64
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
customerID
7590-VHVEG    0.014198
3791-LGQCY    0.014198
6008-NAIXK    0.014198
5956-YHHRX    0.014198
5365-LLFYV    0.014198
                ...
9796-MVYXX    0.014198
2637-FKFSY    0.014198
1552-AAGRX    0.014198
4304-TSPVK    0.014198
3186-AJIEK    0.014198
Name: proportion, Length: 7043, dtype: float64
gender
Male      3555
Female    3488
Name: count, dtype: int64
['Female', 'Male']
Categories (2, object): ['Female', 'Male']
gender
Male      50.47565
Female    49.52435
Name: proportion, dtype: float64
SeniorCitizen
False    5901
True     1142
Name: count, dtype: int64
[False  True]
SeniorCitizen
False    83.785319
True     16.214681
Name: proportion, dtype: float64
Partner
No     3641
Yes    3402
Name: count, dtype: int64
['Yes', 'No']
Categories (2, object): ['No', 'Yes']
Partner
No     51.69672
Yes    48.30328
Name: proportion, dtype: float64
Dependents
No     4933
Yes    2110
Name: count, dtype: int64
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
Dependents
No     70.041176
Yes    29.958824
Name: proportion, dtype: float64
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64
[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
tenure
1     8.703677
72    5.139855
2     3.379242
3     2.839699
4     2.498935
        ...
28    0.809314
39    0.795116
44    0.724123
36    0.709925
0     0.156183
Name: proportion, Length: 73, dtype: float64
PhoneService
Yes    6361
No      682
Name: count, dtype: int64
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
PhoneService
Yes    90.316626
No      9.683374
Name: proportion, dtype: float64
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64
['No phone service', 'No', 'Yes']
Categories (3, object): ['No', 'No phone service', 'Yes']
MultipleLines
No                  48.132898
Yes                 42.183729
No phone service     9.683374
Name: proportion, dtype: float64
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64
['DSL', 'Fiber optic', 'No']
Categories (3, object): ['DSL', 'Fiber optic', 'No']
InternetService
Fiber optic    43.958540
DSL            34.374556
No             21.666903
Name: proportion, dtype: float64
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']
OnlineSecurity
No                     49.666335
Yes                    28.666761
No internet service    21.666903
Name: proportion, dtype: float64
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
['Yes', 'No', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']
OnlineBackup
No                     43.844952
Yes                    34.488144
No internet service    21.666903
Name: proportion, dtype: float64
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']
DeviceProtection
No                     43.944342
Yes                    34.388755
No internet service    21.666903
Name: proportion, dtype: float64
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']
TechSupport
No                     49.311373
Yes                    29.021724
No internet service    21.666903
Name: proportion, dtype: float64
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']
StreamingTV
No                     39.897771
Yes                    38.435326
No internet service    21.666903
Name: proportion, dtype: float64
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
['No', 'Yes', 'No internet service']
Categories (3, object): ['No', 'No internet service', 'Yes']
StreamingMovies
No                     39.542808
Yes                    38.790288
No internet service    21.666903
Name: proportion, dtype: float64
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64
['Month-to-month', 'One year', 'Two year']
Categories (3, object): ['Month-to-month', 'One year', 'Two year']
Contract
Month-to-month    55.019168
Two year          24.066449
One year          20.914383
Name: proportion, dtype: float64
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64
['Yes', 'No']
Categories (2, object): ['No', 'Yes']
PaperlessBilling
Yes    59.221922
No     40.778078
Name: proportion, dtype: float64
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64
['Electronic check', 'Mailed check', 'Bank transfer (automatic)', 'Credit card (automatic)']
Categories (4, object): ['Bank transfer (automatic)', 'Credit card (automatic)', 'Electronic check', 'Mailed check']
PaymentMethod
Electronic check             33.579441
Mailed check                 22.887974
Bank transfer (automatic)    21.922476
Credit card (automatic)      21.610109
Name: proportion, dtype: float64
MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
MonthlyCharges
20.05     0.866108
19.85     0.638932
19.95     0.624734
19.90     0.624734
20.00     0.610535
            ...
23.65     0.014198
114.70    0.014198
43.65     0.014198
87.80     0.014198
78.70     0.014198
Name: proportion, Length: 1585, dtype: float64
TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
TotalCharges
          0.156183
20.2      0.156183
19.75     0.127786
20.05     0.113588
19.9      0.113588
            ...
6849.4    0.014198
692.35    0.014198
130.15    0.014198
3211.9    0.014198
6844.5    0.014198
Name: proportion, Length: 6531, dtype: float64
Churn
No     5174
Yes    1869
Name: count, dtype: int64
['No', 'Yes']
Categories (2, object): ['No', 'Yes']
Churn
No     73.463013
Yes    26.536987
Name: proportion, dtype: float64

## Data Preprocessing

### Fixing data dtypes for missing values

In [198]:
dataframe: pd.DataFrame = raw_dataframe.drop(
    columns=["customerID"], axis="columns"
).copy()
dataframe["TotalCharges"] = pd.to_numeric(
    dataframe["TotalCharges"].replace("" "", np.nan), errors="coerce"
)
dataframe["TotalCharges"] = dataframe["TotalCharges"].fillna(0)

### Verification

In [199]:
dataframe

      gender  SeniorCitizen Partner Dependents  tenure PhoneService     MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling              PaymentMethod  MonthlyCharges  TotalCharges Churn
0     Female          False     Yes         No       1           No  No phone service             DSL             No          Yes               No          No          No              No  Month-to-month              Yes           Electronic check           29.85         29.85    No
1       Male          False      No         No      34          Yes                No             DSL            Yes           No              Yes          No          No              No        One year               No               Mailed check           56.95       1889.50    No
2       Male          False      No         No       2          Yes                No             DSL            Yes          Yes               No          No          No              No  Month-to-month              Yes               Mailed check           53.85        108.15   Yes
3       Male          False      No         No      45           No  No phone service             DSL            Yes           No              Yes         Yes          No              No        One year               No  Bank transfer (automatic)           42.30       1840.75    No
4     Female          False      No         No       2          Yes                No     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes           Electronic check           70.70        151.65   Yes
...      ...            ...     ...        ...     ...          ...               ...             ...            ...          ...              ...         ...         ...             ...             ...              ...                        ...             ...           ...   ...
7038    Male          False     Yes        Yes      24          Yes               Yes             DSL            Yes           No              Yes         Yes         Yes             Yes        One year              Yes               Mailed check           84.80       1990.50    No
7039  Female          False     Yes        Yes      72          Yes               Yes     Fiber optic             No          Yes              Yes          No         Yes             Yes        One year              Yes    Credit card (automatic)          103.20       7362.90    No
7040  Female          False     Yes        Yes      11           No  No phone service             DSL            Yes           No               No          No          No              No  Month-to-month              Yes           Electronic check           29.60        346.45    No
7041    Male           True     Yes         No       4          Yes               Yes     Fiber optic             No           No               No          No          No              No  Month-to-month              Yes               Mailed check           74.40        306.60   Yes
7042    Male          False      No         No      66          Yes                No     Fiber optic            Yes           No              Yes         Yes         Yes             Yes        Two year              Yes  Bank transfer (automatic)          105.65       6844.50    No

[7043 rows x 20 columns]

In [200]:
dataframe.dtypes

gender              category
SeniorCitizen           bool
Partner             category
Dependents          category
tenure                 int32
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges         float64
Churn               category
dtype: object

In [201]:
dataframe.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   category
 1   SeniorCitizen     7043 non-null   bool
 2   Partner           7043 non-null   category
 3   Dependents        7043 non-null   category
 4   tenure            7043 non-null   int32
 5   PhoneService      7043 non-null   category
 6   MultipleLines     7043 non-null   category
 7   InternetService   7043 non-null   category
 8   OnlineSecurity    7043 non-null   category
 9   OnlineBackup      7043 non-null   category
 10  DeviceProtection  7043 non-null   category
 11  TechSupport       7043 non-null   category
 12  StreamingTV       7043 non-null   category
 13  StreamingMovies   7043 non-null   category
 14  Contract          7043 non-null   category
 15  PaperlessBilling  7043 non-null   category
 16  PaymentMethod     7043 non-null   category
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   category
dtypes: bool(1), category(16), float64(2), int32(1)
memory usage: 259.1 KB

### Memory usage
*From 1.1MB to 259.1 KB (76.45% improvement)*

### Binary columns

In [202]:
# Example categorical columns with two unique values
binary_categoricals: list[str] = [
    "Partner",
    "Dependents",
    "PhoneService",
    "PaperlessBilling",
]

for col in binary_categoricals:
    # Map the categories to boolean
    dataframe[col] = (
        dataframe[col].map({"Yes": True, "No": False}).astype("bool")
    )
# dataframe['gender'] = (
#     dataframe['gender'].map({"Male": True, "Female": False}).astype("bool")
# )
# gender: Male is True, Female is False

In [203]:
dataframe.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   category
 1   SeniorCitizen     7043 non-null   bool
 2   Partner           7043 non-null   bool
 3   Dependents        7043 non-null   bool
 4   tenure            7043 non-null   int32
 5   PhoneService      7043 non-null   bool
 6   MultipleLines     7043 non-null   category
 7   InternetService   7043 non-null   category
 8   OnlineSecurity    7043 non-null   category
 9   OnlineBackup      7043 non-null   category
 10  DeviceProtection  7043 non-null   category
 11  TechSupport       7043 non-null   category
 12  StreamingTV       7043 non-null   category
 13  StreamingMovies   7043 non-null   category
 14  Contract          7043 non-null   category
 15  PaperlessBilling  7043 non-null   bool
 16  PaymentMethod     7043 non-null   category
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   category
dtypes: bool(5), category(12), float64(2), int32(1)
memory usage: 258.2 KB

### Memory usage
*From 259.1 KB to 258.2 KB (0.35% improvement)*

### Saving processed dataframe

In [204]:
dataframe.to_csv("../data/processed/data.csv", index=False)

## Tasks Overview

### EDA Multivariado
- [ ] Test de multicolinealidad

### EDA Bivariado 
- [ ] Análisis por variable
  - [ ] gender           
  - [ ] Dependents       
  - [ ] MultipleLines    
  - [ ] OnlineBackup     
  - [ ] StreamingTV      
  - [ ] PaperlessBilling 
  - [ ] TotalCharges     
- [ ] Visualizaciones
  - [ ] Graficos de dispersion de todos contra todos (ggally, corrplot)
  - [ ] Graficos para 3 variables: MonthlyCharges vs Gender vs Churn

### Tareas Adicionales
- [ ] Test de multicolinealidad (Revisión adicional si es necesario)